main {
}

html {
  background-color: #cfcfcf;
}

.maze-grid {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.maze-button {
  background-color: #0084ff;
  color: white;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.maze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid white;
}

.cell.wall {
  background-color: black;
}

.cell.visited {
  background-color: #8800d1;
  
}

.cell.path {
  background-color: white;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}

@media (max-width: 1270px) {
  .maze-grid {
    display: flex;
    width: 95%;
    padding: 200px;
  }
}

@media (max-width: 770px) {
  .maze-grid {
    width: 100%;
    padding: 200px;
  }
}

@media (max-width: 510px) {
  .maze-grid {
    margin: 100px;
  }
}

@media (max-height: 900px) {
  .maze-grid {
    height: 100%;
  }
}